body {
	color: white;
	background-color: rgb(90, 106, 119);
}

html {
	overflow: hidden; /* Hide scrollbars */
}

btn {
	cursor: pointer;
}

#welcome-title {
	font-size: 6rem;
	font-family: serif;
}

#file-title {
	font-size: 4rem;
}

#file-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

#submit-btn {
	background-color: rgb(121, 175, 219);
}

#option-buttons {
	display: flex;
	flex-direction: column;
}

.quit-btn {
	background-color: rgb(241, 128, 117);
}

.navbar-center {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-shrink: 0;
	flex-direction: row;
}

.navbar-dropdown {
	border-top: 0px;
}

.navbar-item {
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 0;
	justify-content: center;
}

.modal-background {
	background-color: rgba(10, 10, 10, 0.2);
}

#log-entry-modal .modal-card-body {
	padding: 5px 10px;
}

#weight-entry-modal .modal-card-head {
	padding: 18px;
}

.modal-card-foot {
	padding: 10px 20px;
}

.reminder-head {
	padding: 10px;
}

/* .reminder-body {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
} */
