<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="../static/css/styles.css" />
		<script src="../static/js/modal.js" async></script>

		<title>Main</title>
	</head>
	<body>
		<section class="hero is-fullheight">
			<nav
				class="navbar is-fullwidth"
				role="navigation"
				aria-label="main navigation"
			>
				<div id="options-navbar" class="navbar-menu">
					<div class="navbar-center">
						<button class="button is-large navbar-item">
							<div
								id="manifest-dropdown"
								class="navbar-item has-dropdown is-hoverable is-large"
							>
								<p>Manifest</p>
								<div class="navbar-dropdown">
									<a
										class="navbar-item is-size-5 has-text-centered"
									>
										Download outbound manifest
									</a>
									<a
										href="{{ url_for('manifest_input_page') }}"
										class="navbar-item is-size-5 has-text-centered"
									>
										Upload new manifest
									</a>
								</div>
							</div>
						</button>
						<button
							id="log-entry-button"
							data-modal-target="#log-entry-modal"
							class="button is-large navbar-item"
						>
							Log Entry
						</button>
						<button
							class="button title is-large navbar-item"
							disabled
						>
							Ship Name
						</button>
						<button
							id="finish-button"
							data-modal-target="#finish-modal"
							class="button is-large navbar-item is-success"
						>
							Finish
						</button>
						<a
							href="{{ url_for('landing_page') }}"
							class="button is-large navbar-item is-danger"
							>Sign Out</a
						>
					</div>
				</div>
			</nav>

			<section class="hero-body">
				<section id="option-buttons">
					<button
						data-modal-target="#weight-entry-modal"
						id="Load-button"
						class="button is-large my-6"
					>
						Load
					</button>
					<button
						id="confirm-button"
						disabled
						class="button is-large my-6"
					>
						Confirm
					</button>
					<button id="balance-button" class="button is-large my-6">
						Balance
					</button>
				</section>
			</section>
		</section>

		<!-- Modals-->
		<div id="log-entry-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Write your log entry</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<section class="modal-card-body has-text-black">
					<textarea
						class="textarea"
						placeholder="e.g. Container weighs less than expected"
					></textarea>
				</section>
				<footer class="modal-card-foot">
					<button class="button is-success">Submit</button>
				</footer>
			</div>
		</div>

		<div id="finish-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header
					class="modal-card-head has-background-warning reminder-head"
				>
					<p class="modal-card-title">Reminder</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<section class="modal-card-body has-text-black reminder-body">
					<p class="modal-card-title is-size-4 has-text-centered">
						Download and send out outbound manifest
					</p>
				</section>
			</div>
		</div>

		<div id="weight-entry-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">
						Weight of container: (name of container)
					</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<section class="modal-card-body has-text-black">
					<form action="">
						<input
							class="input is-medium"
							type="number"
							min="0"
							min="99999"
							placeholder="Container Weight (0 - 99999)"
						/>
					</form>
				</section>
				<footer class="modal-card-foot">
					<button class="button is-success">Enter</button>
				</footer>
			</div>
		</div>

		<div id="balanced-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header
					class="modal-card-head has-background-primary reminder-head"
				>
					<p class="modal-card-title">Notification</p>
					<button class="delete" aria-label="close"></button>
				</header>
				<section class="modal-card-body has-text-black reminder-body">
					<p class="modal-card-title is-size-4 has-text-centered">
						Ship is balanced!
					</p>
				</section>
			</div>
		</div>
	</body>
</html>
