<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="../static/css/styles.css" />
		<script src="../static/js/index.js" defer></script>
		<script src="../static/js/modal.js" defer></script>

		<title>Main</title>
	</head>
	<body>
		<section class="hero is-fullheight">
			<nav
				class="navbar is-fullwidth"
				role="navigation"
				aria-label="main navigation"
			>
				<div id="options-navbar" class="navbar-menu">
					<div class="navbar-center">
						<button class="button is-large navbar-item">
							<div
								id="manifest-dropdown"
								class="navbar-item has-dropdown is-hoverable is-large"
							>
								<p>Manifest</p>
								<div class="navbar-dropdown">
									<form
										id="download-manifest-form"
										action="#"
										method="post"
									>
										<input
											type="hidden"
											name="download-manifest"
										/>
										<a
											class="navbar-item is-size-5 has-text-centered"
											onclick="download_manifest()"
										>
											Download outbound manifest
										</a>
									</form>
									<a
										href="{{ url_for('manifest_input_page') }}"
										class="navbar-item is-size-5 has-text-centered"
									>
										Upload new manifest
									</a>
								</div>
							</div>
						</button>
						<button
							id="log-entry-button"
							data-modal-target="#log-entry-modal"
							class="button is-large navbar-item"
						>
							Log Entry
						</button>
						<button
							class="button title is-large navbar-item"
							disabled
						>
							Ship Name
						</button>
						<button
							id="finish-button"
							data-modal-target="#finish-modal"
							class="button is-large navbar-item is-success"
						>
							Finish
						</button>
						<a
							href="{{ url_for('landing_page') }}"
							class="button is-large navbar-item is-danger"
							>Sign Out</a
						>
					</div>
				</div>
			</nav>

			<section class="hero-body">
				<section id="option-buttons">
					<button
						data-modal-target="#num-containers-modal"
						id="Load-button"
						class="button is-large my-6"
					>
						Load
					</button>
					<button
						id="confirm-button"
						disabled
						class="button is-large my-6"
					>
						Confirm
					</button>
					<button
						data-modal-target="#balanced-modal"
						id="balance-button"
						class="button is-large my-6"
					>
						Balance
					</button>
				</section>

				<div class="grid" id="grid"></div>

				<div class="right-side-bar">
					<div class="time-info-box">
						<div>Total Est. Time:</div>
						<div>Est. Time:</div>
					</div>
					<div class="move-info-box">
						<div>Empty Box For Steps</div>
					</div>
				</div>
			</section>

			<div class="buffer-grid" id="buffer-grid"></div>
		</section>

		<!-- Modals-->

		<!--  -->
		<div id="log-entry-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Write your log entry</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<form action="#" method="post">
					<section class="modal-card-body has-text-black">
						<textarea
							class="textarea"
							name="operator-log-entry"
							placeholder="e.g. Container weighs less than expected"
						></textarea>
					</section>
					<footer class="modal-card-foot">
						<button
							data-close-button
							type="submit"
							class="button is-success"
						>
							Submit
						</button>
					</footer>
				</form>
			</div>
		</div>

		<div id="num-containers-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">
						How many containers are you loading?
					</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<form action="">
					<section class="modal-card-body has-text-black">
						<input
							class="input is-medium"
							type="number"
							name="num-containers"
							placeholder="Number of containers"
						/>
					</section>
					<footer class="modal-card-foot">
						<button
							data-close-button
							type="submit"
							class="num-containers-modal-submit button is-success"
						>
							Submit
						</button>
					</footer>
				</form>
			</div>
		</div>

		<div id="container-name-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">
						Description of the container's contents?
					</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<form action="">
					<section class="modal-card-body has-text-black">
						<input
							class="input is-medium"
							type="number"
							name="containers-name"
							placeholder="Container's name"
						/>
					</section>
					<footer class="modal-card-foot">
						<button
							data-close-button
							type="submit"
							class="container-name-modal-submit button is-success"
						>
							Submit
						</button>
					</footer>
				</form>
			</div>
		</div>

		<div id="weight-entry-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">
						Weight of container: (name of container)
					</p>
					<button
						data-close-button
						class="delete"
						aria-label="close"
					></button>
				</header>
				<form action="#" method="post">
					<section class="modal-card-body has-text-black">
						<input
							class="input is-medium"
							type="number"
							name="weight-entry"
							placeholder="Container Weight (0 - 99999)"
						/>
					</section>
					<footer class="modal-card-foot">
						<button data-close-button class="button is-success">
							Enter
						</button>
					</footer>
				</form>
			</div>
		</div>

		<div id="finish-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<form action="#" method="post">
					<header
						class="modal-card-head has-background-warning reminder-head"
					>
						<p class="modal-card-title">Reminder</p>
						<button
							data-close-button
							class="delete"
							aria-label="close"
						></button>
					</header>
					<section class="modal-card-body has-text-black">
						<p class="modal-card-title is-size-4 has-text-centered">
							Download and send out outbound manifest
						</p>
						<input type="hidden" name="finish-cycle" />
					</section>
					<footer class="modal-card-foot">
						<button
							data-close-button
							type="submit"
							class="button is-success"
						>
							Got it
						</button>
					</footer>
				</form>
			</div>
		</div>

		<!-- should show when ship has been balanced -->
		<div id="balanced-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<form action="#" method="post">
					<header
						class="modal-card-head has-background-primary reminder-head"
					>
						<p class="modal-card-title">Notification</p>
						<input type="hidden" name="balanced-ship" />
						<button
							data-close-button
							class="delete"
							aria-label="close"
						></button>
					</header>
					<section class="modal-card-body has-text-black">
						<p class="modal-card-title is-size-4 has-text-centered">
							Ship is balanced!
						</p>
					</section>
					<footer class="modal-card-foot">
						<button
							data-close-button
							type="Got it"
							class="button is-success"
						>
							Got it
						</button>
					</footer>
				</form>
			</div>
		</div>
		<script>
			// anchor tag acts like a button
			function download_manifest() {
				document.getElementById("download-manifest-form").submit();
			}
		</script>
	</body>
</html>
