<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='styles.css')}}"
		/>
		<!-- <link rel="stylesheet" href="../static/styles.css" /> -->
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
		></script>

		<title>Manifest Input</title>
	</head>
	<body>
		<section class="hero is-halfheight">
			<div class="hero-head">
				<div
					id="file-title"
					class="container title has-text-centered has-text-white my-3"
				>
					<h1>File Upload</h1>
				</div>
			</div>
			<div id="file-container" class="hero-body">
				<div class="container title has-text-centered has-text-white">
					<h2 class="mt-6">Upload Manifest</h2>
				</div>
				<div class="container">
					<div id="file-upload" class="file has-name is-boxed">
						<label class="file-label">
							<input
								class="file-input"
								type="file"
								name="manifest"
							/>
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label"> Choose a file… </span>
							</span>
							<span class="file-name has-text-centered">
								No file uploaded
							</span>
						</label>
					</div>
				</div>
			</div>
		</section>
		<section class="hero is-halfheight">
			<div class="hero-body">
				<div class="container has-text-centered">
					<div class="column">
						<a href="{{ url_for('landing_page') }}">
							<button
								id="upload-quit-btn"
								class="button is-large quit-btn"
								name="manifest-quit"
							>
								Quit
							</button>
						</a>
					</div>
				</div>
				<div class="container has-text-centered">
					<div class="column">
						<form action="#" method="post">
							<button
								id="upload-cont-btn"
								class="button is-success is-large cont-btn"
								name="manifest-continue"
							>
								Continue
							</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
	<script>
		const fileInput = document.querySelector(
			"#file-upload input[type=file]"
		);
		fileInput.onchange = () => {
			if (fileInput.files.length > 0) {
				const fileName = document.querySelector(
					"#file-upload .file-name"
				);
				fileName.textContent = fileInput.files[0].name;
			}
		};
	</script>
</html>
